* {
    margin: 0;
    padding: 0;
}

.banner1 {
    background-color: black;
    color: white;
}
.right {
    float: right;
    margin-right: 20px;
}

nav  {
    background-color: #F0A83E;
}

a {
    float: right;
    margin: 5px;
}


